//
  功能: 普通的404页面, 注意和_config.yml中的404配置结合在一起理解就可以了 
  结构: 
    a. 每个页面引入header/index.pug都是操作了
    b. 404页面独有的结构

- var top_img_404 = theme.error_404.background || theme.default_top_img

#body-wrap.error404
  include ./header/index.pug

  #error-wrap
    .error-content
      .error-img
        img(src=url_for(top_img_404) alt='Page not found')
      .error-info
        h1.error_title= '404'
        .error_subtitle= theme.error_404.subtitle || _p('error404')
